/*Search header*/
.headerContainer{
  display: flex;
  justify-content: space-between;
  padding: 1em 4em 1em 1em;
}
/*Search input*/
.searchContainer{
  background-color: #F2F2F2;
  padding: 8px 10px;
  border-radius: 5px;
  display: flex;   
  width: 20%;
  input{
    border-width: 0px;
    font-size: 11px;
    margin-left: 1em;
    width: 90%;
    background-color: transparent !important;
    &::placeholder{
      color: black !important;
      font-weight: bolder;
    }
    &:focus{
      outline: none;
      background-color: transparent !important;
    }
  }
}

/*Dropdown*/
.selectTabContainer{
  width: 200px;
  cursor: pointer;
 
  .tabContainer{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 5px;
      align-items: center;
      z-index:1;
      background-color: #F2F2F2;
      label{
          font-size: 12px;
          color: black;
          font-weight: bold;
      }
      img{
          width: 13px;
      }
  }
  .dropDownContainer{
      position: absolute;
      width: 200px;
      border-radius: 10px;
      z-index: 2;
      margin-top: 0.5em;
      padding: 10px 20px;
      box-sizing: border-box;
      background-color: #F2F2F2;
      overflow-y: scroll;
      border: 1px solid rgba(128, 128, 128, 0.253);
      .itemContainer{
          box-sizing: border-box;
          width: 100%;
          cursor: pointer;
          .item{
              box-sizing: border-box;
              font-size: 10px;
              margin-top: 0.5em;
              padding: 10px;
              width: 100%;
              border-radius: 5px;
              padding-left: 40%;
              font-weight: 500;
              color: black;
              &:hover{
                  background-color: black;
                  color: white;
              }
          }
      }
  }
}

.dropDownContainer::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.dropDownContainer::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 5px;
}
 
/* Handle */
.dropDownContainer::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 5px;

}

/* Handle on hover */
.dropDownContainer::-webkit-scrolrlbar-thumb:hover {
  background:  black;
  border-radius: 5px;

}