/*Standard screen style*/
.viewContainer{
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 4%;
    .highrightWrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        h1{
            font-size: 4em;
            font-weight: bolder;
            color: rgb(73, 73, 73);
        }
        h3{
            margin-top: 3em;
            font-size: 15px;
            color: #08a1ff;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .formWrapper{
            width: 60%;
        }
        .socialMediaAuthWrapper{
         width: 50%;
        button{
            border: 1px solid black;
            border-radius: 30px;
            padding: 15px 20px; 
            width: 300px;
            margin-top: 4em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            label{
                font-weight: lighter;
            }
            &:hover{
                background-color: black;
                color: white;
            }
        }
     }
    }
}
/*Mobile screen style*/
@media only screen and (max-width: 600px){
    .viewContainer{
        height: max-content;
        padding: 0%;
        .highrightWrapper{
            flex-direction: column;
            height: max-content;
            padding: 0%;
            h1{
                font-size: 2em;
                margin-top: 2em;
            }
            .socialMediaAuthWrapper{
                width: 80%;
            }
            .formWrapper{
                width: 100%;
            }
        }
    }
}